/.phpunit.cache
/bootstrap/ssr
/node_modules

/public/storage/img/*
!public/storage/img/perpus_-1685020274.png
!public/storage/img/perpus_-1685020510.png
!public/storage/img/perpus_-1685192427.jpg
!public/storage/img/perpus_-1685192467.jpg
!public/storage/img/perpus_Analisis Sosial-1685132884.jpg
!public/storage/img/perpus_Benturan NU - PKI-1685132485.jpg
!public/storage/img/perpus_Filsafat Ilmu-1685133212.jpg


!public/storage/home/
/public/build
/public/hot
/storage/*.key
/vendor

.env
.env.backup
.env.production

.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
